* {
    margin: 0;
    padding: 0;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.top {
    height: 800px;
    width: 1400px;
    background-image: url(pictures__to__create__a__style/picture__for__the__site1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header {
    padding-top: 196px;
    gap: 24px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    font-family: Montserrat;
    width: 768px;
    height: 244px;
    padding-left: 120px;


    &__title {

        color: rgb(32, 32, 39);
        font-family: Montserrat;
        font-size: 64px;
        font-weight: 700;
        line-height: 78px;
        letter-spacing: 0px;
        text-align: left;
    }

    &__text {
        color: #000;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: 32px;
        max-width: 481px;
        font-family: Montserrat;
    }

    &__form {
        width: 247px;
        height: 66px;
        display: flex;
        border-radius: 30px;
        background: #000;
        font-family: Montserrat;
    }


    &__form--link {
        color: rgb(255, 255, 255);
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        padding: 13 74 13 74;
        text-decoration: none;
        font-family: Montserrat;
    }

    &__world {
        color: #000;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 32px;
        font-family: Montserrat;
    }


}